* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: sans-serif;
}
.page_404 img {
  width: 100%;
}
.bg {
  background-image: url(jungle-404.gif);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
}
.bg h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
}
.h2{
    font-size: 40px;
}
.link_404{
    color: #fff;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    margin-left: 100px;
}
.box404{
    margin-top: -50px;
    margin-left: 390px;
}